openapi: "3.1.0"
info:
  title: Firetracker Backend
  description: The swagger docs for the firetracker backend.
  contact:
    email: otavio.abreu96@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.0.1
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
  - url: https://nocta-software-dsm.com/firetracker/api
tags:
  - name: process
    description: Create a process for a fire scar classification.
paths:
  /process:
    post:
      tags:
        - process
      summary: Create a blank process.
      description: Creates a blank process and starts it on the state machine.
      operationId: createProcess
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateProcess"
        "500":
          description: Internal server error

  /process/{processId}/aoi:
    patch:
      tags:
        - process
      summary: Change a blank process AOI to the given bounding box.
      parameters:
        - name: processId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: "140441511793744"
      requestBody:
        description: The min_x, max_x, min_y and max_y.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                min_x:
                  type: number
                  format: float
                  example: -123.123
                max_x:
                  type: number
                  format: float
                  example: 123.123
                min_y:
                  type: number
                  format: float
                  example: -45.123
                max_y:
                  type: number
                  format: float
                  example: 45.123
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddProcessAoi"
        "400":
          description: Invalid input
        "404":
          description: Process not found
        "500":
          description: Internal server error

  /process/{processId}/period:
    patch:
      tags:
        - process
      summary: Change a blank process period to the one given.
      parameters:
        - name: processId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: "140441511793744"
      requestBody:
        description: The period in the isoformat.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_datetime:
                  type: string
                  format: isoformat
                  example: "2021-08-01T00:00:00Z"
                end_datetime:
                  type: string
                  format: isoformat
                  example: "2021-08-31T23:59:59Z"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddProcessAoi"
        "400":
          description: Invalid input
        "404":
          description: Process not found
        "500":
          description: Internal server error
  /process/{processId}/confirm:
    patch:
      tags:
        - process
      summary: Confirm the given information and start the visual analysis phase.
      parameters:
        - name: processId
          in: path
          required: true
          schema:
            type: string
            format: uuid
            example: "140441511793744"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfirmProcess"
        "400":
          description: Invalid input
        "404":
          description: Process not found
        "500":
          description: Internal server error

components:
  schemas:
    CreateProcess:
      type: object
      properties:
        processId:
          type: string
          format: uuid
          example: "140441511793744"
        status:
          type: string
          description: The current status of the fire scar classification process.
          enum:
            - IDLE
            - ABORTED
            - INTERRUPTED
          example: STARTED
    AddProcessAoi:
      type: object
      properties:
        processId:
          type: string
          format: uuid
          example: "140441511793744"
        status:
          type: string
          description: The current status of the fire scar classification process.
          enum:
            - BBOX_SELECTED
            - ABORTED
            - INTERRUPTED
          example: BBOX_SELECTED
    AddProcessPeriod:
      type: object
      properties:
        processId:
          type: string
          format: uuid
          example: "140441511793744"
        status:
          type: string
          description: The current status of the fire scar classification process.
          enum:
            - PERIOD_SELECTED
            - ABORTED
            - INTERRUPTED
          example: PERIOD_SELECTED
    ConfirmProcess:
      type: object
      properties:
        processId:
          type: string
          format: uuid
          example: "140441511793744"
        status:
          type: string
          description: The current status of the fire scar classification process.
          enum:
            - READY_FOR_VISUAL_ANALYSIS
            - ABORTED
            - INTERRUPTED
          example: READY_FOR_VISUAL_ANALYSIS
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
