openapi: "3.1.0"

info:
  title: Firetracker Backend
  version: 0.0.1
  contact:
    email: otavio.abreu96@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.firetrack.nocta-software-dsm.com
  - url: http://localhost:8000

tags:
  - name: conta
    description: Módulo responsável pela autenticação, autorização e gerenciamento de contas dos usuários.
  - name: fenomeno
    description: Módulo responsável pelo processamento de fenomenos, como o de Queimadas.
  - name: produto
    description: Módulo responsável por listar produtos disponíveis na STAC API do INPE e registrar produtos utilizados na aplicação.

paths:
  /conta:
    get:
      tags: [conta]
      summary: Consulta se o usuário atual está logado.
      responses:
        "200":
          description: Sucesso. O usuário atual está logado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticatedUser"
        "401":
          description: Não autorizado. O usuário atual não está logado.

  /conta/entrar:
    post:
      tags: [conta]
      summary: Realiza o login.
      requestBody:
        required: true
        description: O email ou username (query) e a senha do usuário.
        content:
          application/json:
            schema:
              type: object
              required: [query, password]
              properties:
                query:
                  type: string
                password:
                  type: string
      responses:
        "200":
          description: Sucesso. O usuário foi logado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticatedUser"

  /conta/cadastrar:
    post:
      tags: [conta]
      summary: Cadastra um novo usuário.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, email, password]
              properties:
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                first_name:
                  type: string
                last_name:
                  type: string
      responses:
        "201":
          description: Sucesso. O usuário foi registrado e logado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticatedUser"
        "409":
          description: Conflito. Já existe um usuário com esse email ou username.
        "400":
          description: Requisição inválida.

  /conta/sair:
    post:
      tags: [conta]
      summary: Desloga o usuário logado.
      responses:
        "200":
          description: Sucesso. O usuário foi deslogado.
        "401":
          description: O usuário não estava logado.

  /produtos:
    get:
      tags: [produto]
      summary: Lista os produtos registrados no banco de dados.
      responses:
        "200":
          description: Lista de produtos registrados.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Produto"
        "401":
          description: Não autorizado.

  /produtos/all:
    get:
      tags: [produto]
      summary: Lista todos os produtos disponíveis via STAC.
      responses:
        "200":
          description: Lista de produtos da STAC API.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StacProduto"
        "401":
          description: Não autorizado.

  /produtos/create:
    post:
      tags: [produto]
      summary: Registra um novo produto.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product_id]
              properties:
                product_id:
                  type: string
      responses:
        "200":
          description: Produto registrado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Produto"
        "400":
          description: Requisição inválida.
        "401":
          description: Não autorizado.
        "403":
          description: Produto já registrado.

  /fenomeno/queimadas:
    get:
      tags: [fenomeno]
      summary: Retorna todos os processamentos de Cicatriz de Queimadas do usuário logado.
      responses:
        "200":
          description: Lista de processamentos.
    post:
      tags: [fenomeno]
      summary: Cria e inicializa um processamento vazio de Cicatriz de Queimadas.
      responses:
        "200":
          description: Processamento criado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateProcess"

  /fenomeno/queimadas/{queimadas_id}:
    get:
      tags: [fenomeno]
      summary: Retorna os detalhes do processamento selecionado.
      parameters:
        - name: queimadas_id
          in: path
          required: true
          schema:
            type: number
      responses:
        "200":
          description: Detalhes do processamento.

  /fenomeno/queimadas/{queimadas_id}/product:
    patch:
      tags: [fenomeno]
      summary: Adiciona um produto ao processamento selecionado.
      parameters:
        - name: queimadas_id
          in: path
          required: true
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: string
      responses:
        "200":
          description: Produto adicionado ao processamento.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddProcessAoi"
        "400":
          description: Entrada inválida.
        "404":
          description: Processamento não encontrado.

  /fenomeno/queimadas/{queimadas_id}/aoi:
    patch:
      tags: [fenomeno]
      summary: Muda a Área de Interesse do processamento selecionado.
      parameters:
        - name: queimadas_id
          in: path
          required: true
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: number
              minItems: 4
              maxItems: 4
      responses:
        "200":
          description: Área alterada.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddProcessAoi"
        "400":
          description: Entrada inválida.
        "404":
          description: Processamento não encontrado.

  /fenomeno/queimadas/{queimadas_id}/period:
    patch:
      tags: [fenomeno]
      summary: Muda o período do processamento selecionado.
      parameters:
        - name: queimadas_id
          in: path
          required: true
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_datetime:
                  type: string
                  format: date-time
                end_datetime:
                  type: string
                  format: date-time
      responses:
        "200":
          description: Período alterado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddProcessAoi"
        "400":
          description: Entrada inválida.
        "404":
          description: Processamento não encontrado.

  /fenomeno/queimadas/{queimadas_id}/confirm:
    patch:
      tags: [fenomeno]
      summary: Confirma e valida o processamento selecionado.
      parameters:
        - name: queimadas_id
          in: path
          required: true
          schema:
            type: number
      responses:
        "200":
          description: Processamento confirmado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfirmProcess"
        "400":
          description: Entrada inválida.
        "404":
          description: Processamento não encontrado.

  /fenomeno/queimadas/{queimadas_id}/analise_visual:
    get:
      tags: [fenomeno]
      summary: Retorna os thumbnails para análise visual do processamento.
    post:
      tags: [fenomeno]
      summary: Recebe os thumbnails selecionados pelo usuário.

components:
  schemas:
    AuthenticatedUser:
      type: object
      properties:
        id:
          type: number
        username:
          type: string
        email:
          type: string
        full_name:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        is_authenticated:
          type: boolean

    Produto:
      type: object
      properties:
        product_id:
          type: string
        description:
          type: string

    StacProduto:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        start_date:
          type: string
          format: date-time
        end_date:
          type: string
          format: date-time

    CreateProcess:
      type: object
      properties:
        id:
          type: number
        status:
          type: string
          enum: [IDLE, ABORTED, INTERRUPTED]

    AddProcessAoi:
      type: object
      properties:
        id:
          type: number
        status:
          type: string
          enum: [BBOX_SELECTED, ABORTED, INTERRUPTED]

    ConfirmProcess:
      type: object
      properties:
        id:
          type: number
        status:
          type: string
          enum: [READY_FOR_VISUAL_ANALYSIS, ABORTED, INTERRUPTED]
