openapi: "3.1.0"

info:
  title: Firetracker Backend
  contact:
    email: otavio.abreu96@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.0.1

servers:
  - url: https://api.firetrack.nocta-software-dsm.com
  - url: http://localhost:8000

tags:
  - name: conta
    description: Módulo responsável pela autenticação, autorização e gerenciamento de contas dos usuários.
  - name: fenomeno
    description: Módulo responsável pelo processamento de fenomenos, como o de Queimadas.

paths:
  /conta:
    get:
      tags:
        - conta
      summary: Consulta se o usuário atual está logado.
      responses:
        "200":
          description: Sucesso. O usuário atual está logado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticatedUser"
        "401":
          description: Não autorizado. O usuário atual não está logado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_authenticated:
                    type: boolean
                    example: false

  /conta/entrar:
    post:
      tags:
        - conta
      summary: Realiza o login.
      requestBody:
        required: true
        description: O email ou username (query) e a senha do usuário.
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  examples:
                    - "otavio.abreu92@gmail.com"
                    - "otavio.abreu92"
                password:
                  type: string
                  example: "test123test456"
              required:
                - query
                - password
      responses:
        "200":
          description: Sucesso. O usuário foi logado.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthenticatedUser"

  /conta/cadastrar:
    post:
      tags:
        - conta
      summary: Cadastra um novo usuário.
      responses:
        "201":
          description: Sucesso. O usuário foi registrado e logado.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    example: 1
                  username:
                    type: string
                    example: "otavio.abreu92"
                  email:
                    type: string
                    example: "otavio.abreu92@gmail.com"
                  first_name:
                    type: string
                    example: "Otávio"
                  last_name:
                    type: string
                    example: "Abreu"
        "409":
          description: Conflito. Existe outro usuário com esse nome de usuário ou email.
        "400":
          description: Requisição inválida. O corpo da requisição não está de acordo com o esperado.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  example: "otavio.abreu92"
                email:
                  type: string
                  example: "otavio.abreu92@gmail.com"
                password:
                  type: string
                  example: "test123test456"
                password_confirmation:
                  type: string
                  example: "test123test456"
                first_name:
                  type: string
                  example: "Otávio"
                last_name:
                  type: string
                  example: "Abreu"
              required:
                - username
                - email
                - password
                - password_confirmation

  /conta/sair:
    post:
      tags:
        - conta
      summary: Desloga o usuário logado.
      responses:
        "200":
          description: Sucesso. O usuário foi deslogado.
        "401":
          description: Desautorizado. O usuário que tentou deslogar não estava logado.

  /fenomeno/queimadas:
    get:
      tags:
        - fenomeno
      summary: Retorna todos os processamentos de Cicatriz de Queimadas do usuário logado.
      # TODO: falta descrever os detalhes do endpoint, ele vai ser utilizado pra listar todos os processos de cicatriz de queimadas quando o usuário abrir a página inicial, esse endpoint será fundamental, é importante ser desenhado conforme os requisitos do frontend
    post:
      tags:
        - fenomeno
      summary: Cria e inicializa um processamento vazio de Cicatriz de Queimadas.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateProcess"

  /fenomeno/queimadas/{queimadas_id}:
    get:
      tags:
        - fenomeno
      summary: Retorna os detalhes do processamento de Cicatriz de Queimadas selecionado.
      parameters:
        - name: queimadas_id
          in: path
          required: true
          schema:
            type: number
            example: 145438
      # TODO: falta detalhar a resposta desse endpoint, ele vai ser utilizado quando o usuário clica em um processamento já existente dentro da listagem e ele vai poder visualizar e interagir com os detalhes, trazendo as informações úteis pra ele

  /fenomeno/queimadas/{queimadas_id}/area_de_interesse:
    patch:
      tags:
        - fenomeno
      summary: Muda a Área de Interesse (Bounding Box) do processamento selecionado.
      parameters:
        - name: queimadas_id
          in: path
          required: true
          schema:
            type: number
            example: 145438
      requestBody:
        description: The min_x, max_x, min_y and max_y.
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: number
                format: float
              minItems: 4
              maxItems: 4
              example: [-123.123, 123.123, -45.123, 45.123]
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddProcessAoi"
        "400":
          description: Invalid input
        "404":
          description: Process not found

  /fenomeno/queimadas/{queimadas_id}/period:
    patch:
      tags:
        - fenomeno
      summary: Muda o período do processamento selecionado.
      parameters:
        - name: queimadas_id
          in: path
          required: true
          schema:
            type: number
            example: 145438
      requestBody:
        description: The period in the isoformat.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_datetime:
                  type: string
                  format: isoformat
                  example: "2021-08-01T00:00:00Z"
                end_datetime:
                  type: string
                  format: isoformat
                  example: "2021-08-31T23:59:59Z"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddProcessAoi"
        "400":
          description: Invalid input
        "404":
          description: Process not found

  /fenomeno/queimadas/{queimadas_id}/confirm:
    patch:
      tags:
        - fenomeno
      summary: Confirma e valida o processamento selecionado. Prepara e encaminha o processamento para a análise visual.
      parameters:
        - name: queimadas_id
          in: path
          required: true
          schema:
            type: number
            example: 145438
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfirmProcess"
        "400":
          description: Invalid input
        "404":
          description: Process not found

  /fenomeno/queimadas/{queimadas_id}/analise_visual:
    get:
      summary: Retorna os thumbnails para análise visual do processamento selecionado em sua respectiva Área de Interesse e Período.
      tags:
        - fenomeno
    post:
      summary: Recebe os IDs dos thumbnails eleitos pela fase de análise visual do usuário.
      tags:
        - fenomeno

components:
  schemas:
    AuthenticatedUser:
      type: object
      properties:
        id:
          type: number
          example: 1
        username:
          type: string
          example: "otavio.abreu92"
        email:
          type: string
          example: "otavio.abreu92@gmail.com"
        full_name:
          type: string
          example: "Otávio Abreu"
        first_name:
          type: string
          example: "Otávio"
        last_name:
          type: string
          example: "Abreu"
        is_authenticated:
          type: boolean
          example: true

    CreateProcess:
      type: object
      properties:
        id:
          type: number
          example: 145438
        status:
          type: string
          description: Estado atual do processamento de classificação de cicatriz de queimadas.
          enum:
            - IDLE
            - ABORTED
            - INTERRUPTED
          example: STARTED

    AddProcessAoi:
      type: object
      properties:
        id:
          type: number
          example: 145438
        status:
          type: string
          description: The current status of the fire scar classification process.
          enum:
            - BBOX_SELECTED
            - ABORTED
            - INTERRUPTED
          example: BBOX_SELECTED

    AddProcessPeriod:
      type: object
      properties:
        id:
          type: number
          example: 145438
        status:
          type: string
          description: The current status of the fire scar classification process.
          enum:
            - PERIOD_SELECTED
            - ABORTED
            - INTERRUPTED
          example: PERIOD_SELECTED

    ConfirmProcess:
      type: object
      properties:
        id:
          type: number
          example: 145438
        status:
          type: string
          description: The current status of the fire scar classification process.
          enum:
            - READY_FOR_VISUAL_ANALYSIS
            - ABORTED
            - INTERRUPTED
          example: READY_FOR_VISUAL_ANALYSIS
