.conta-gradient-backdrop {
  z-index: -1;
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to right,
    oklch(from var(--chart-3) l c h / 0.2),
    transparent,
    oklch(from var(--chart-3) l c h / 0.2)
  );
  background-position: center;
  animation-name: gradient;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: var(--ease-in-out);
}

.conta-gradient-backdrop::before {
  z-index: -1;
  position: absolute;
  inset: 0;
  content: "";
  background-image:
    radial-gradient(15% 40% at center, oklch(from var(--chart-1) l c h / 0.075), transparent),
    radial-gradient(circle, oklch(from var(--chart-4) l c h / 0.075), transparent);
  background-position: center;
  animation-name: gradient;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-timing-function: var(--ease-in-out);
}

@keyframes gradient {
  0% {
    background-size: 100% 100%;
  }

  50% {
    background-size: 135% 125%;
  }

  100% {
    background-size: 100% 100%;
  }
}
