openapi: 3.0.3
info:
  title: Firetracker Backend
  description: The swagger docs for the firetracker backend.
  contact:
    email: otavio.abreu96@gmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.0.1
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
  - url: https://nocta-software-dsm.com/firetracker/api
tags:
  - name: process
    description: Create a process for a fire scar classification.
paths:
  /process:
    post:
      tags:
        - process
      summary: Create a blank process.
      description: Creates a blank process and starts it on the state machine.
      operationId: createProcess
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
        '500':
          description: It was impossible to start a new process
  
  /process/addAoi/{processId}:
    put:
      tags:
        - process
      summary: Change a blank process AOI.

components:
  schemas:
    Process:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "140441511793744"
        status:
          type: string
          description: The current status of the fire scar classification process.
          enum:
            - IDLE
            - STARTED
            - BBOX_SELECTED
            - PERIOD_SELECTED
            - READY_FOR_VISUAL_ANALYSIS
            - IN_VISUAL_ANALYSIS
            - READY_FOR_VALID_PAIR_SEPARATION
            - IN_VALID_PAIR_SEPARATION
            - READY_FOR_INDEXES_CREATION
            - IN_INDEXES_CREATION
            - READY_FOR_DIFFERENCE_IMAGE_CREATION
            - IN_DIFFERENCE_IMAGE_CREATION
            - READY_FOR_AI_CLASSIFICATION
            - IN_AI_CLASSIFICATION
            - READY_FOR_PUBLISH
            - PUBLISHED
            - ABORTED
            - INTERRUPTED
          example: STARTED

    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
